  body{
	    font-family: 'Noto Sans KR', sans-serif;
	    margin:0px;
	    padding:0px;
  }
  #menu{
            width:100%;
            margin-bottom:5%;
            font-size:160%;
            font-weight:bold;
  }
  #main_menu{
            margin-left:15%;
  }

  #sub_menu{
            margin-left:45%;
            margin-bottom:10%;
  }
  hr{
    margin-bottom:5%;
  }
  #movie_list{
            padding-left:10%;
  }
  #movie{
            width:13%;
            height:13%
  }

  .main_menu_content{
                   margin-right:1.5%;
                   display: inline-block;
  }

  .sub_menu_content{
                   padding-left:2%;
                   padding-right:2%;
                   display: inline-block;
                   border: 1px solid blue;
  }



  .movie_poster_img{
                    width:100%;
                    height:100%;
  }
  .movie_content{
                 padding-left:5%;
                 text-align:left;


  }

