<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../static/css/nouislider.min.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/plyr.css">
    <link rel="stylesheet" href="../static/css/photoswipe.css">
    <link rel="stylesheet" href="../static/css/default-skin.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../static/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="../static/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>FlixGo</title>

</head>
<body class="body">

<!-- header -->
<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header logo -->
                        <a href=/ class="header__logo">
                            <img src="../static/img/logo.png" alt="">
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header__nav">
                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a href=/ class="dropdown-toggle header__nav-link" role="button" id="dropdownMenuHome"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">홈</a>

                            </li>
                            <!-- end dropdown -->

                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a href=/catalog class="dropdown-toggle header__nav-link" role="button"
                                   id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">영화목록</a>

                            </li>
                            <!-- end dropdown -->


                            <!-- dropdown -->
                            <li class="dropdown header__nav-item">
                                <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#"
                                   role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false"><i class="icon ion-ios-more"></i></a>

                            </li>
                            <!-- end dropdown -->
                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth">
                            <button class="header__search-btn" type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>

                        </div>
                        <!-- end header auth -->

                        <!-- header menu btn -->
                        <button class="header__btn" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- end header menu btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header search -->
    <form action="/wsearch" class="header__search" method="get">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__search-content">
                        <input type="text" name="keyword" placeholder="검색어를 입력해주세요.">

                        <button type="submit">검색</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end header search -->
</header>
<!-- end header -->

<!-- details -->
<section class="section details">
    <!-- details background -->
    <div class="details__bg" data-bg={{url}}{{mov_info_details[0][9]}}></div>
    <!-- end details background -->

    <!-- details content -->
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <h1 class="details__title">{{mov_info_details[0][0]}}</h1>
            </div>
            <!-- end title -->

            <!-- content -->
            <div class="col-10">
                <div class="card card--details card--series">
                    <div class="row">
                        <!-- card cover -->
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                            <div class="card__cover:before">
                                <img src={{url}}{{mov_info_details[0][9]}} alt="">
                            </div>
                        </div>
                        <!-- end card cover -->

                        <!-- card content -->
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
                            <div class="card__content">
                                <div class="card__wrap">
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>

                                    <ul class="card__list">
                                        <li>HD</li>
                                        <li>{{mov_info_details[0][12].split('|')[4]}}</li>
                                    </ul>
                                </div>

                                <ul class="card__meta">
                                    <li><span>장르:</span> <a href="#">{{mov_info_details[0][12].split('|')[0]}},{{mov_info_details[0][12].split('|')[1]}},{{mov_info_details[0][12].split('|')[2]}}</a>
                                    <li><span>개봉년도:</span> {{mov_info_details[0][2].replace('서스펜스스릴러','')}}</li>
                                    <li><span>상영시간:</span> {{mov_info_details[0][12].split('|')[3]}}</li>
                                    <li><span>국가:</span> <a href="#">{{mov_info_details[0][12].split('|')[5]}}</a></li>
                                </ul>

                                <div class="card__description card__description--details">
                                    {{mov_info_details[0][8]}}
                                </div>
                            </div>
                        </div>
                        <!-- end card content -->
                    </div>
                </div>
            </div>
            <!-- end content -->
        </div>
    </div>
</section>
<!-- end details -->

<!-- content -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title">REVIEW</h2>
                    <!-- end content title -->

                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                               aria-selected="true">네이버</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                               aria-selected="false">메가박스</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
                               aria-selected="false">갤러리</a>
                        </li>


                    </ul>
                    <!-- end content tabs nav -->

                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="Comments">
                            <span></span>
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab"
                                                        href="#tab-1" role="tab" aria-controls="tab-1"
                                                        aria-selected="true">네이버</a></li>

                                <li class="nav-item"><a class="nav-link active" id="2-tab" data-toggle="tab"
                                                        href="#tab-2"
                                                        role="tab" aria-controls="tab-2"
                                                        aria-selected="false">메가박스</a></li>

                                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3"
                                                        role="tab" aria-controls="tab-3"
                                                        aria-selected="false">갤러리</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">


                <!-- ========================================= -->
                <!-- NAVER TAB START-->
                <!-- ========================================= -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                        <div class="row">

                            <!-- comments -->
                            <div class="col-12">
                                <div class="comments">
                                    {% if mov_score_naver|length < 1 %}

                                    <p class="comments__text">리뷰가 없습니다.</p>

                                    {% else %}

                                    {% for i in range(0,mov_score_naver_len) %}

                                    <ul class="comments__list">
                                        <li class="comments__item">


                                            <p class="comments__text">{{mov_score_naver[i][2]}}</p>
                                            <div class="comments__actions">
                                                <div class="comments__autor">
                                                    <span class="comments__rating"><i class="icon ion-ios-star"></i>{{mov_score_naver[i][3]}}</span>

                                                    <span class="comments__time">{{mov_score_naver[i][5]}}</span>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                    {% endfor %}
                                    {% endif %}

                                </div>
                            </div>
                            <!-- end comments -->
                        </div>
                    </div>


                    <!-- ========================================= -->
                    <!-- NAVER TAB END-->
                    <!-- ========================================= -->

                    <!-- ========================================= -->
                    <!-- MEGABOX TAB START-->
                    <!-- ========================================= -->

                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                        <div class="row">

                            <!-- comments -->
                            <div class="col-12">
                                <div class="comments">

                                    {% if mov_score_mega|length < 1 %}

                                    <p class="comments__text">리뷰가 없습니다.</p>

                                    {% else %}

                                    {% for i in range(0,mov_score_mega_len) %}

                                    <ul class="comments__list">
                                        <li class="comments__item">

                                            <p class="comments__text">{{mov_score_mega[i][2]}}</p>
                                            <div class="comments__actions">
                                                <div class="comments__autor">
                                                    <span class="comments__rating"><i class="icon ion-ios-star"></i>{{mov_score_mega[i][3]}}</span>

                                                    <span class="comments__time">{{mov_score_mega[i][5]}}</span>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                    {% endfor %}

                                    {% endif %}

                                </div>
                            </div>
                            <!-- end comments -->
                        </div>
                    </div>


                    <!-- ========================================= -->
                    <!-- MEGABOX TAB END-->
                    <!-- ========================================= -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                        <!-- project gallery -->
                        <div class="gallery" itemscope>
                            <div class="row">
                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="../static/img/gallery/project-1.jpg" itemprop="contentUrl"
                                       data-size="1920x1280">
                                        <img src="../static/img/gallery/project-1.jpg" itemprop="thumbnail"
                                             alt="Image description"/>
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 1</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="../static/img/gallery/project-2.jpg" itemprop="contentUrl"
                                       data-size="1920x1280">
                                        <img src="../static/img/gallery/project-2.jpg" itemprop="thumbnail"
                                             alt="Image description"/>
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 2</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="../static/img/gallery/project-3.jpg" itemprop="contentUrl"
                                       data-size="1920x1280">
                                        <img src="../static/img/gallery/project-3.jpg" itemprop="thumbnail"
                                             alt="Image description"/>
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 3</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="../static/img/gallery/project-4.jpg" itemprop="contentUrl"
                                       data-size="1920x1280">
                                        <img src="../static/img/gallery/project-4.jpg" itemprop="thumbnail"
                                             alt="Image description"/>
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 4</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="../static/img/gallery/project-5.jpg" itemprop="contentUrl"
                                       data-size="1920x1280">
                                        <img src="../static/img/gallery/project-5.jpg" itemprop="thumbnail"
                                             alt="Image description"/>
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 5</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="../static/img/gallery/project-6.jpg" itemprop="contentUrl"
                                       data-size="1920x1280">
                                        <img src="../static/img/gallery/project-6.jpg" itemprop="thumbnail"
                                             alt="Image description"/>
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 6</figcaption>
                                </figure>
                                <!-- end gallery item -->
                            </div>
                        </div>
                        <!-- end project gallery -->
                    </div>
                </div>
                <!-- end content tabs -->
            </div>

            <!-- sidebar -->

            <!-- end sidebar -->
        </div>
    </div>
</section>
<!-- end content -->

<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- footer list -->
            <a href=/>
                <img src="../static/img/logo.png" alt="">
            </a>
            <!-- end footer list -->

            <!-- footer list -->


            <!-- footer list -->

            <!-- end footer list -->

            <!-- footer copyright -->
            <div class="col-12">
                <div class="footer__copyright">
                    <small><a href="https://templatespoint.net" target="_blank">TemplatesPoint</a></small>

                    <ul>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <!-- end footer copyright -->
        </div>
    </div>
</footer>
<!-- end footer -->

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
    It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <!-- Preloader -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/jquery.mousewheel.min.js"></script>
<script src="../static/js/jquery.mCustomScrollbar.min.js"></script>
<script src="../static/js/wNumb.js"></script>
<script src="../static/js/nouislider.min.js"></script>
<script src="../static/js/plyr.min.js"></script>
<script src="../static/js/jquery.morelines.min.js"></script>
<script src="../static/js/photoswipe.min.js"></script>
<script src="../static/js/photoswipe-ui-default.min.js"></script>
<script src="../static/js/main.js"></script>
</body>

</html>