<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../static/css/nouislider.min.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/plyr.css">
    <link rel="stylesheet" href="../static/css/photoswipe.css">
    <link rel="stylesheet" href="../static/css/default-skin.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../static/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="../static/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">

<!-- header -->
<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header logo -->
                        <a href=/ class="header__logo">
                            <img src="../static/img/logo.svg" alt="">
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header__nav">
                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a class="dropdown-toggle header__nav-link" href=/ role="button" aria-haspopup="true"
                                   aria-expanded="false">홈</a>
                            </li>
                            <!-- end dropdown -->

                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a class="dropdown-toggle header__nav-link" href=catalog role="button"
                                   aria-haspopup="true" aria-expanded="false">영화목록</a>
                            </li>
                            <!-- end dropdown -->

                            <li class="header__nav-item">
                                <a href="pricing.html" class="header__nav-link">Pricing Plan</a>
                            </li>

                            <li class="header__nav-item">
                                <a href="faq.html" class="header__nav-link">Help</a>
                            </li>

                            <!-- dropdown -->
                            <li class="dropdown header__nav-item">
                                <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#"
                                   role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false"><i class="icon ion-ios-more"></i></a>

                                <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="signin.html">Sign In</a></li>
                                    <li><a href="signup.html">Sign Up</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown -->
                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth">
                            <button class="header__search-btn" type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>

                            <a href="signin.html" class="header__sign-in">
                                <i class="icon ion-ios-log-in"></i>
                                <span>sign in</span>
                            </a>
                        </div>
                        <!-- end header auth -->

                        <!-- header menu btn -->
                        <button class="header__btn" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- end header menu btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header search -->
    <form action="/wsearch" class="header__search" method="get">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__search-content">
                        <input type="text" name="keyword" placeholder="Search for a movie, TV Series that you are looking for">

                        <button type="submit" >search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end header search -->
</header>
<!-- end header -->

<!-- home -->
<section class="home">
    <!-- home bg -->
    <div class="owl-carousel home__bg">
        <div class="item home__cover" data-bg="../static/img/home/home__bg.jpg"></div>
        <div class="item home__cover" data-bg="../static/img/home/home__bg2.jpg"></div>
        <div class="item home__cover" data-bg="../static/img/home/home__bg3.jpg"></div>
        <div class="item home__cover" data-bg="../static/img/home/home__bg4.jpg"></div>
    </div>
    <!-- end home bg -->

    <div class="container">
        <div class="row sibling-fade">
            <div class="col-12">
                <h1 class="home__title"><b>추천</b> 작품들</h1>


            </div>


            <!-- section title -->

            <!-- end section title -->

            {% for i in range(0,6) %}
            <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">

                    <div class="card__cover">
                        <figure class="snip1384">

                            <img src={{url}}{{mov_info_all[i][9]}} alt="">
                            <a href=details/{{mov_info_all[i][11]}}>
                                <figcaption>

                                    <div class="mov_title">
                                        <h3 class="card__title">{{mov_info_all[i][0]}}</h3>
                                    </div>
                                    <div class="mov_info">
                                        <p>
                                            {{mov_info_all[i][12].split('|')[0]}},{{mov_info_all[i][12].split('|')[1]}},{{mov_info_all[i][12].split('|')[2]}}</p>
                                    </div>
                                    <div class="mov_content">
                                        <i>{{mov_info_all[i][8]}}</i>
                                    </div>
                                    <div class="mov_date">
                                        <p>{{mov_info_all[i][2].replace('서스펜스스릴러','').replace('히어로어벤지액션','')}} 개봉</p>
                                    </div>
                                    <div class="mov_score">
                                        <p class="icon ion-ios-star"> 8.4 / 10</p>
                                        <p class="mov_btn">더보기</p>
                                    </div>


                                </figcaption>
                            </a>


                        </figure>

                    </div>
                </div>
            </div>
            <!-- end card -->
            {% endfor %}


            <!-- section btn -->

            <!-- end section btn -->
        </div>
    </div>
</section>
<!-- end expected premiere -->
<!-- end home -->

<!-- content -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title"></h2>
                    <!-- end content title -->

                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                               aria-selected="true">액션 / SF</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                               aria-selected="false">멜로 / 로맨스</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
                               aria-selected="false">공포 / 스릴러</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4"
                               aria-selected="false">애니메이션</a>
                        </li>
                    </ul>
                    <!-- end content tabs nav -->

                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="New items">
                            <span></span>
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab"
                                                        href="#tab-1" role="tab" aria-controls="tab-1"
                                                        aria-selected="true">액션 / SF</a></li>

                                <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2"
                                                        role="tab" aria-controls="tab-2" aria-selected="false">멜로 /
                                    로맨스</a></li>

                                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3"
                                                        role="tab" aria-controls="tab-3" aria-selected="false">공포 /
                                    스릴러</a></li>

                                <li class="nav-item"><a class="nav-link" id="4-tab" data-toggle="tab" href="#tab-4"
                                                        role="tab" aria-controls="tab-4" aria-selected="false">애니메이션</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                <div class="row sibling-fade">

                    {% for i in range(0,12) %}

                    <!--  멜로 / 로맨스  -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 ">

                        <div class="card">

                            <div class="card__cover">
                                <figure class="snip1384">
                                    <img src={{url}}{{mov_info_action[i][9]}} alt="">
                                    <a href=details/{{mov_info_all[i][11]}}>
                                        <figcaption>
                                            <div class="mov_title">
                                                <h3 class="card__title">{{mov_info_action[i][0]}}</h3>
                                            </div>
                                            <div class="mov_info">
                                                <p>{{mov_info_action[i][12]}}</p>
                                            </div>
                                            <div class="mov_content">
                                                <i>{{mov_info_action[i][8]}}</i>
                                            </div>
                                            <div class="mov_date">
                                                <p>
                                                    {{mov_info_action[i][2].replace('히어로어벤지액션','').replace('항공재난액션','').replace('학원액션','').replace('학원액션/느와르','').replace('휴먼감성액션영화','').replace('하드보일드액션스릴러','').replace('하드보일드느와르액션','').replace('풀타임1인칭SF액션블록버스터','').replace('패러디,섹시,코미디','').replace('판타지액션어드벤처','').replace('판타지액션블록버스터','').replace('판타지액션로맨스','').replace('판타지무협액션','').replace('판타스틱괴수액션','').replace('테러범죄액션실화','').replace('크리쳐/사극','').replace('크리처액션스릴러','').replace('크리처액션','').replace('크리처액션어드벤처','').replace('코믹범죄액션활극','').replace('케이퍼액션무비','').replace('카지노액션블록버스터','').replace('취향저격로코액션','').replace('추리,범죄,사극','').replace('추격오버액션코미디','')}}</p>
                                            </div>
                                            <div class="mov_score">
                                                <p class="icon ion-ios-star"> 8.4 / 10</p>
                                            </div>
                                        </figcaption>

                                    </a>
                                </figure>
                            </div>


                        </div>
                    </div>
                    <!-- end card -->
                    {%endfor%}
                </div>
            </div>

            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                <div class="row sibling-fade">

                    {% for i in range(0,12) %}

                    <!--  멜로 / 로맨스  -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 ">

                        <div class="card">

                            <div class="card__cover">


                                <figure class="snip1384">
                                    <img src={{url}}{{mov_info_romance[i][9]}} alt="">
                                    <figcaption>
                                        <div class="mov_title">
                                            <h3 class="card__title">{{mov_info_romance[i][0]}}</h3>
                                        </div>
                                        <div class="mov_info">
                                            <p>{{mov_info_romance[i][12]}}</p>
                                        </div>
                                        <div class="mov_content">
                                            <i>{{mov_info_romance[i][8]}}</i>
                                        </div>
                                        <div class="mov_date">
                                            <p>{{mov_info_romance[i][2]}} 개봉</p>
                                        </div>
                                        <div class="mov_score">
                                            <p class="icon ion-ios-star"> 8.4 / 10</p>
                                        </div>
                                    </figcaption>


                                </figure>

                            </div>


                        </div>
                    </div>
                    <!-- end card -->
                    {%endfor%}
                </div>
            </div>

            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                <div class="row sibling-fade">
                    {% for i in range(0,12) %}
                    <!--  공포 / 스릴러  -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">

                                <figure class="snip1384">
                                    <img src={{url}}{{mov_info_horror[i][9]}} alt="">
                                    <figcaption>
                                        <div class="mov_title">
                                            <h3 class="card__title">{{mov_info_horror[i][0]}}</h3>
                                        </div>
                                        <div class="mov_info">
                                            <p>{{mov_info_horror[i][12]}}</p>
                                        </div>
                                        <div class="mov_content">
                                            <i>{{mov_info_horror[i][8]}}</i>
                                        </div>
                                        <div class="mov_date">
                                            <p>{{mov_info_horror[i][2]}} 개봉</p>
                                        </div>
                                        <div class="mov_score">
                                            <p class="icon ion-ios-star"> 8.4 / 10</p>
                                        </div>
                                    </figcaption>

                                </figure>

                            </div>


                        </div>
                    </div>
                    <!-- end card -->
                    {%endfor%}
                </div>
            </div>

            <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="4-tab">
                <div class="row sibling-fade">
                    {% for i in range(0,12) %}
                    <!--  애니메이션  -->
                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <figure class="snip1384">
                                    <img src={{url}}{{mov_info_ani[i][9]}} alt="">
                                    <figcaption>
                                        <div class="mov_title">
                                            <h3 class="card__title">{{mov_info_ani[i][0]}}</h3>
                                        </div>
                                        <div class="mov_info">
                                            <p>{{mov_info_ani[i][12]}}</p>
                                        </div>
                                        <div class="mov_content">
                                            <i>{{mov_info_ani[i][8]}}</i>
                                        </div>
                                        <div class="mov_date">
                                            <p>{{mov_info_ani[i][2]}} 개봉</p>
                                        </div>
                                        <div class="mov_score">
                                            <p class="icon ion-ios-star"> 8.4 / 10</p>
                                        </div>
                                    </figcaption>

                                </figure>

                            </div>


                        </div>
                    </div>
                    <!-- end card -->
                    {%endfor%}
                </div>
            </div>
        </div>
        <!-- end content tabs -->
    </div>
</section>
<!-- end content -->

<!-- expected premiere -->
	<section class="section section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row item">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title">Expected premiere</h2>
				</div>
				<!-- end section title -->

				<div class="col-12">
                <h2 class="section__title">Expected premiere</h2>
            </div>
            <!-- end section title -->


             <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="../static/img/covers/cover.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                        <span class="card__category">
								<a href="#">Action</a>
								<a href="#">Triler</a>
							</span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                    </div>
                </div>
            </div>
            <!-- end card -->


             <!-- card -->	            <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="../static/img/covers/cover3.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">Benched</a></h3>
                        <span class="card__category">
								<a href="#">Comedy</a>
							</span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
                    </div>
                </div>
            </div>
            <!-- end card -->


             <!-- card -->					<!-- end card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">	            <!-- end section title -->
                <div class="card">
                    <div class="card__cover">
                        <img src="../static/img/covers/cover2.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">Whitney</a></h3>
                        <span class="card__category">
								<a href="#">Romance</a>
								<a href="#">Drama</a>
								<a href="#">Music</a>
							</span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>
                    </div>
                </div>
            </div>
            <!-- end card -->

             <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="../static/img/covers/cover6.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">Blindspotting</a></h3>
                        <span class="card__category">
								<a href="#">Comedy</a>
								<a href="#">Drama</a>
							</span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>
                    </div>
                </div>
            </div>
            <!-- end card -->


             <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="../static/img/covers/cover4.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                        <span class="card__category">
								<a href="#">Action</a>
								<a href="#">Triler</a>
							</span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                    </div>
                </div>
            </div>
            <!-- end card -->


             <!-- card -->
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="../static/img/covers/cover5.jpg" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">Benched</a></h3>
                        <span class="card__category">
								<a href="#">Comedy</a>
							</span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
                    </div>
                </div>
            </div>
            <!-- end card -->

				<!-- section btn -->

				<!-- end section btn -->
			</div>
            <div class="col-12">
					<a id="button" class="section__btn">Show more</a>
				</div>
		</div>
	</section>
<!-- end expected premiere -->

<!-- partners -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title section__title--no-margin">Our Partners</h2>
            </div>
            <!-- end section title -->

            <!-- section text -->
            <div class="col-12">
                <p class="section__text section__text--last-with-margin">It is a long <b>established</b> fact that a
                    reader will be distracted by the readable content of a page when looking at its layout. The point of
                    using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.
                </p>
            </div>
            <!-- end section text -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../static/img/partners/themeforest-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../static/img/partners/audiojungle-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../static/img/partners/codecanyon-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../static/img/partners/photodune-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../static/img/partners/activeden-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->

            <!-- partner -->
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#" class="partner">
                    <img src="../static/img/partners/3docean-light-background.png" alt="" class="partner__img">
                </a>
            </div>
            <!-- end partner -->
        </div>
    </div>
</section>
<!-- end partners -->

<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- footer list -->
            <div class="col-12 col-md-3">
                <h6 class="footer__title">Download Our App</h6>
                <ul class="footer__app">
                    <li><a href="#"><img src="../static/img/Download_on_the_App_Store_Badge.svg" alt=""></a></li>
                    <li><a href="#"><img src="../static/img/google-play-badge.png" alt=""></a></li>
                </ul>
            </div>
            <!-- end footer list -->

            <!-- footer list -->
            <div class="col-6 col-sm-4 col-md-3">
                <h6 class="footer__title">Resources</h6>
                <ul class="footer__list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Pricing Plan</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <!-- end footer list -->

            <!-- footer list -->
            <div class="col-6 col-sm-4 col-md-3">
                <h6 class="footer__title">Legal</h6>
                <ul class="footer__list">
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>
            <!-- end footer list -->

            <!-- footer list -->
            <div class="col-12 col-sm-4 col-md-3">
                <h6 class="footer__title">Contact</h6>
                <ul class="footer__list">
                    <li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
                    <li><a href="mailto:support@moviego.com">support@flixgo.com</a></li>
                </ul>
                <ul class="footer__social">
                    <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                    <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                    <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                    <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
                </ul>
            </div>
            <!-- end footer list -->

            <!-- footer copyright -->
            <div class="col-12">
                <div class="footer__copyright">
                    <small><a href="https://templatespoint.net" target="_blank">TemplatesPoint</a></small>

                    <ul>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <!-- end footer copyright -->
        </div>
    </div>
</footer>
<!-- end footer -->

<!-- JS -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/jquery.mousewheel.min.js"></script>
<script src="../static/js/jquery.mCustomScrollbar.min.js"></script>
<script src="../static/js/wNumb.js"></script>
<script src="../static/js/nouislider.min.js"></script>
<script src="../static/js/plyr.min.js"></script>
<script src="../static/js/jquery.morelines.min.js"></script>
<script src="../static/js/photoswipe.min.js"></script>
<script src="../static/js/photoswipe-ui-default.min.js"></script>
<script src="../static/js/main.js"></script>
<script type="text/javascript">
var list=0;
        $(document).ready(function() {
           ajaxpage=0
           $.ajax({
              url: 'http://127.0.0.1:5000/index/'+ajaxpage,
              success: function(ajaxMovie) {
              ajaxMovie=JSON.parse(ajaxMovie);
              list=ajaxMovie;
                 for (var i = 0; i < ajaxMovie.length; i++) {
                    $('.item').append(
                       create(
                                ajaxMovie[i][9],
                                ajaxMovie[i][11],
                                ajaxMovie[i][0],
                                ajaxMovie[i][12],
                                ajaxMovie[i][8],
                                ajaxMovie[i][2]
                       )
                    );
                 }
              }
           });
           ajaxpage++;
        });
        $("#button").click(function(e){
            e.preventDefault();
            $.ajax({
                url: 'http://127.0.0.1:5000/index/'+ajaxpage,
                success: function(ajaxMovie) {
                ajaxMovie=JSON.parse(ajaxMovie);
                    for (var i = 0; i < ajaxMovie.length; i++) {
                        $('.item').append(
                            create(
                                ajaxMovie[i][9],
                                ajaxMovie[i][11],
                                ajaxMovie[i][0],
                                ajaxMovie[i][12],
                                ajaxMovie[i][8],
                                ajaxMovie[i][2]
                            )
                        );
                    }
                }
            });
            ajaxpage++;
        });
        function create(img,code,title,info,cont,date){
            return `
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <figure class="snip1384">
                            <img src="http://www.kobis.or.kr/"${img} alt="">
                            <a href="/details/${code}">
                                <figcaption>
                                    <div class="mov_title">
                                        <h3 class="card__title">${title}</h3>
                                    </div>
                                    <div class="mov_info">
                                        <p>${info}</p>
                                    </div>
                                    <div class="mov_content">
                                        <i>${cont}</i>
                                    </div>
                                    <div class="mov_date">
                                        <p>${date} 개봉</p>
                                    </div>
                                    <div class="mov_score">
                                        <p class="icon ion-ios-star"> 8.4 / 10</p>
                                    </div>
                                </figcaption>
                             </a>
                        </figure>
                    </div>
                </div>
            </div>`;
        }

</script>
</body>

</html>